.profile-img {
    margin-top: 50px;
    margin-left: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    align-self: start;
    justify-self: start;
    box-shadow: 0 0 0 10px #FCF55F;
    outline: double 5px #002D62;
}

.profile-container {
    margin: 0 auto;
    max-width: 740px;
    height: 200px;
    display: grid;
    grid-template-columns: 5rem 5rem 20rem;
    column-gap: 40px;
    row-gap: 10px;
    margin-top: 20px;
    margin-top: -10px;
}

.profile-header {
    margin-top: -5px;
    margin-left: 10px;
    height: 30px;
    width: 162px;
    grid-column-start: 2/3;
    justify-self: start;
    align-self: center;
    background-color: #f3ec78;
    background: linear-gradient(90deg, #002D62, #FCF55F);
    font-family: Poppins;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.profile-text {
    margin-left: 10px;
    height: 200px;
    width: 600px;
    grid-column: 2/3;
    align-self: start;
    justify-self: start;
    margin-top: -75px;
    line-height: 1rem;
    font-size: 14px;

}

.readMore-container {
    background-color: #FCF55F;
    color: #002D62;
    border-top: 2px solid #002D62;
    border-bottom: 2px solid #002D62;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 20px;
    align-items: center;
}

.readMore-btn {
    font-family: 'Fascinate Inline', cursive;
    font-size: 1rem;
    background: linear-gradient(to bottom, #002D62, #5F9EA0);
    border: 1px solid black;
    border-radius: 2em;
    padding: .1em 1.4em;
    cursor: pointer;
    z-index: 1;
    color: white;
}

.readMore-link {
    font-style: oblique;
    color: #4682B4;
    margin-left: -16px;
}

.readMore-link:hover {
    color: #0F52BA;
}

.readMore-magnet {
    color: #0F52BA;
    margin-left: -14px;
    margin-top: 5px;
}

.readMore-paragraph {
    margin-left: -15px;
}

.profileCard-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-img {
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
    align-self: start;
    justify-self: start;
    box-shadow: 0 0 0 10px #002D62;
    outline: double 5px #FCF55F;
    margin-top: 15px;
}

.mid_header {
    border-top: 2px solid #002D62;
    border-bottom: 2px solid #002D62;
    text-align: center;
    background-color: #FCF55F;
    color: #002D62;
    padding: 0.8rem;
}

.profile-card {
    background-color: #FCF55F;
    color: #002D62;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    line-height: 0.2px;
    border-radius: 5px;
    margin: 10px;
    border: 5px solid #002D62;
}

.profile-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-container {
    padding-top: 10px;

}

.text-container-header {
    text-align: center;
    padding: 10px;
}

.text-container-paragraph {
    color: #002D62;
}

.text-container-icon {
    padding-top: 5px;
}

.underline {
    width: 13rem;
    height: 0.25rem;
    background: #002D62;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: -15px;
}

.profile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.footer-img {
    height: 200px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-self: start;
    justify-self: start;
    box-shadow: 0 0 0 10px #002D62;
    outline: double 5px #FCF55F;
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer-header {
    margin-top: 25px;
    border-top: 2px solid #002D62;
    border-bottom: 2px solid #002D62;
    background-color: #FCF55F;
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.subscribe-input {
    width: 300px;
    height: 50px;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    border-right: none;
}

.subscribe-btn:hover {
    background-color: #222A33;
    cursor: pointer;
}

.subscribe-btn {
    background: linear-gradient(to bottom, #002D62, #5F9EA0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Fascinate Inline', cursive;
    font-size: 1rem;
    color: white;
    -webkit-transition: transform 0.5s ease 0s;
    -moz-transition: transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
}

.subscribe-btn_active {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}
